extends layout

block content
  html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet", href="/stylesheets/style.css")
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')
      link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css')
      script(src='https://cdn.jsdelivr.net/npm/flatpickr')
      link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap")
      script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    body
      header
        include header
    main
      .right-column
        .text-block
          h1.blocky Create a New Document
        .text-block.form.container
          form(action="/submit_document" method="POST" enctype="multipart/form-data")
            label(for="type") Categoria:
              input(type="text", name="type", required=true)
            label(for="code") Código:
              input#code(name="code", type="text", required=true)
            label(for="publication") Publicação:
              input#publication(name="publication", type="text", required=true)
            label(for="ministry") Emissor:
              input#ministry(name="ministry", type="text", required=true)
            label(for="publication_date") Data de Publicação:
              input#publication_date(name="publication_date", type="date", required=true)
            label(for="url") URL Página Oficial:
              input#official_page(name="url", type="url")
            label(for="additional_link") PDF Oficial:
              input#official_pdf(name="additional_link", type="url")
            label(for="pdf_link") PDF Não Oficial:
              input#unofficial_pdf(type="file", name="pdf_link")
            label(for="description") Descrição:
              input#description(name="description", type="text", required=true)
            label(for="content") Conteúdo:
              textarea#content(name="content", required=true)
            button#submit(type="submit") Criar Documento
    script.
      document.addEventListener('DOMContentLoaded', function() {
        submit.addEventListener('click', function() {
          if (type.value === '' || code.value === '' || publication.value === '' || ministry.value === '' || publication_date.value === '' || description.value === '' || content.value === '') {
            alert('Por favor, preencha todos os campos obrigatórios.');
            return;
          } else {
            let answer = confirm('Tem a certeza que pretende criar este documento?');
            if (!answer) {
              return;
            }
          }
        });
      });