extends layout

block content
  html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet", href="/stylesheets/style.css")
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')
      link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css')
      script(src='https://cdn.jsdelivr.net/npm/flatpickr')
      link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap")
      script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    body
        header
            include header
        main
            .right-column
                .text-block 
                    if user.isadmin
                        h1.blocky Perfil de Administrador
                    else if user.iseditor && !user.isadmin
                        h1.blocky Perfil de Editor
                    else
                        h1.blocky Perfil de Utilizador
                .text-block.blocky
                    h2 Nome:  
                        h3.ministry #{user.full_name}
                    h2 NIF:  
                        h3.ministry #{user.id}
                    h2 Email:  
                        h3.ministry #{user.email}
                    h2 Data de registo:
                        -var date = user.created_at.split('T')[0];
                        -var time = user.created_at.split('T')[1];
                        -time = time.split('.')[0];
                        -time = time.split(':')[0] + ':' + time.split(':')[1]
                        h3.ministry #{date}    #{time}
                    h3.ministry(style='color: black;') Nº documentos criados: #{user.posts_created} 
                .text-block 
                    h1.blocky Favoritos
                .text-block
                    if user_favorites.length > 0 && user_favorites
                            each doc in allData
                                .blocky
                                    a(href="/specific/" + doc.id)
                                        h2 #{doc.type} nº #{doc.code}
                                        h3.ministry.uppercase #{doc.ministry}
                                div.line
                    else
                        .block
                            p Não tem favoritos.
                include pagination