.right-column
  each publicationKey in Object.keys(allData)
    - const publication = allData[publicationKey]
    .publication-container
      h1.text-block.block
        a(href="/publications/?pub=" + publicationKey) #{publicationKey}
      .text-block
        each document in publication
          .block
            h2
              a(href=`/specific/${document.id}`) #{document.type} nยบ #{document.code}
            h3.ministry.uppercase #{document.ministry}
            p #{document.description}

  include pagination